:root {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
  overflow-x: hidden;
}

.container {
  padding: 0;
}

.headlines {
  max-width: 387px;
}

.buttons {
  max-width: 312px;
}

.texts {
  max-width: 411px;
}

button {
  font-family: "Roboto", sans-serif;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

@media (max-width: 1023px) {
  .container {
    width: calc(100vw - 20px);
  }
  .main-tags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1024px) and (max-width: 1299px) {
  .main-tags div {
    margin: 0 10px 0 0;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
    max-width: 1300px;
  }
}

.navigation {
  height: 47px;
  border-bottom: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .container {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .logo-img {
  height: 30px;
}

.navigation ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style-image: none;
  list-style-type: none;
}

.navigation ul li {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  margin: 3px 0;
  padding: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #000;
  margin: 0 25px;
}

.navigation ul .call-button {
  height: 100%;
  background: #D50000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s all;
  transition: .1s all;
}

.navigation ul .call-button img {
  width: 26px;
  margin-right: 19px;
}

.navigation ul .call-button a {
  color: #fff;
  padding: 0 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul .call-button a p {
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
}

.navigation ul .call-button:hover {
  background: #FF1A1A;
}

@media (max-width: 1299px) {
  .navigation .container {
    position: relative;
  }
  .navigation .container .logo-img {
    position: absolute;
    top: 7px;
  }
  .navigation .container button {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
  .navigation .container ul {
    display: none;
    position: absolute;
    top: 46px;
  }
  .navigation .container ul li {
    margin: 0 10px 2px 10px;
  }
  .navigation .container ul .call-button {
    height: auto;
  }
  .navigation .container ul .call-button a {
    margin: 0;
  }
  .navigation .container ul .call-button img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    margin: 0;
  }
  .navigation .container ul.show-ul {
    display: block;
  }
  .navigation.opened {
    height: 227px;
  }
}

@media (min-width: 1300px) {
  .hamburger-button {
    display: none;
  }
}

h1 {
  font-weight: 900;
  font-size: 6.4rem;
  margin: 0 0 25px 0;
}

h2 {
  font-weight: 900;
  font-size: 3.9rem;
  margin: 0 0 35px 0;
}

h3 {
  font-weight: 900;
  font-size: 2.4rem;
  margin: 0 0 37px 0;
}

h4 {
  font-weight: 300;
  font-size: 2.1rem;
  margin: 0 0 42px 0;
}

h5 {
  font-weight: 900;
  font-size: 1.3rem;
  margin: 0;
  text-transform: uppercase;
}

.btn-primary {
  border: none;
  background: #D50000;
  padding: 15px 114px;
  color: #fff;
}

.btn-primary h3 {
  margin: 0;
}

.btn-primary:hover {
  background: #FF1A1A;
}

.btn-secondary {
  background: none;
  border: 2px solid #D50000;
  color: #D50000;
  padding: 15px 47px;
}

.btn-secondary h5 {
  margin: 0;
}

.btn-secondary:hover {
  border-color: #FF1A1A;
  color: #FF1A1A;
  background: none;
}

@media (max-width: 1023px) {
  .buttons {
    margin-top: 30px;
  }
  .btn-primary {
    padding: 15px 110px;
  }
}

a {
  -webkit-transition: .1s all;
  transition: .1s all;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #FF1A1A;
  text-decoration: none;
}

.link-primary h3 {
  margin: 0;
}

.link-primary, .link-secondary {
  color: #D50000 !important;
}

.link-primary:hover, .link-secondary:hover {
  color: #FF1A1A !important;
}

p, small {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
}

p strong, small strong {
  font-weight: 900;
}

p span, small span {
  background: #FF1A1A;
  color: #fff;
  padding: 3px 4px;
}

p u, small u {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 3px solid #D50000;
}

small {
  line-height: 21px;
  font-size: 13px;
}

@media (max-width: 1023px) {
  .texts {
    margin-top: 30px;
  }
}

ul {
  margin: 0;
  padding: 0 0 0 26px;
  font-size: 18px;
  font-weight: 300;
  list-style-image: url("../img/li-pointer.svg");
}

ul li {
  margin-bottom: 11px;
  padding-left: 14px;
}

.ul-title {
  margin: 0 0 19px 0;
}

figure {
  margin: 0 0 67px 0;
}

.hero-img {
  width: 100%;
}

article p {
  line-height: 26px;
}

.article-with-img img {
  max-width: 640px;
  max-height: 401px;
}

.article-with-img h2 {
  margin-top: 41px;
}

.article-with-img .article-with-img-texts {
  max-width: 536px;
  margin: 0;
}

@media (max-width: 1023px) {
  figure {
    margin: 0 0 30px 0;
  }
  .article-with-img img {
    width: 100%;
    height: auto;
  }
  .article-with-img h3 {
    margin-bottom: 10px;
  }
}

@media (min-width: 1023px) and (max-width: 1299px) {
  .article-with-img-texts {
    padding: 0 15px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr th {
  text-align: center;
}

table tr th:first-child {
  opacity: 0;
  cursor: default;
}

table tr:nth-child(even) {
  background: #FAFAFA;
}

table tr:first-child {
  background: #fff;
  border: 1px solid #D50000;
}

table tr:first-child th {
  padding: 16px 0;
  font-size: 21px;
  font-weight: 300;
}

table tr:nth-child(2) td {
  border-top: 1px solid #D50000;
}

table td:first-child {
  padding: 21px 0;
  font-weight: 900;
}

table td {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #E5E5E5;
}

table td .link-secondary h5 {
  padding: 10% 0;
}

@media (max-width: 767px) {
  table tr:first-child th {
    font-size: 10px;
  }
  table td, table h5 {
    font-size: 9px;
  }
}

.download-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 130px;
}

.download-file img {
  margin-right: 10px;
}

.download-file p {
  font-size: 21px;
  line-height: 16px;
  padding-top: 18px;
}

@media (max-width: 767px) {
  .download-file {
    margin-right: 0;
  }
  .download-file p {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .download-file {
    margin-right: 30px;
  }
}

.grid-base-parent {
  width: 640px;
  height: 540px;
}

.grid-base-parent img {
  max-width: 100%;
  max-height: 100%;
}

.grid-big-img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

.grid-parent {
  position: relative;
}

.grid-parent h3 {
  position: absolute;
  left: 30px;
  bottom: 30px;
  margin: 0;
  padding: 3px 20px;
  background: #fff;
  z-index: 5;
  pointer-events: none;
}

.grid-parent .grid-on-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}

.grid-parent .grid-on-hover svg {
  width: 100%;
  height: 100%;
}

.grid-parent .grid-on-hover svg g {
  overflow: hidden;
}

.grid-parent .grid-on-hover svg g path {
  width: 100%;
  height: 100%;
}

.grid-parent .grid-on-hover button {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 74px);
  border-color: white;
  color: white;
}

.grid-parent .grid-on-hover:hover {
  opacity: 1;
}

.grid-right-side {
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid-bottom {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.d-grid-triple,
.d-grid-triple-rev {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
  -ms-grid-columns: 50% 50%;
      grid-template: 50% 50% / 50% 50%;
}

.d-grid-triple .grid-parent:first-child {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.d-grid-triple-rev .grid-parent:nth-child(2) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.grid-triple-upper,
.grid-triple-lower,
.grid-triple-upper-rev,
.grid-triple-lower-rev {
  width: 310px;
  height: 260px;
}

.grid-triple-upper {
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid-triple-lower {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.grid-triple-lower-rev {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.grid-triple-long,
.grid-triple-long-rev,
.grid-triple-small,
.grid-triple-big {
  width: 310px;
}

.grid-triple-long-rev {
  -ms-grid-column-align: end;
      justify-self: end;
}

.grid-triple-small {
  height: 260px;
}

.grid-triple-big {
  height: 540px;
}

@media (max-width: 767px) {
  .grid-parent {
    width: 100%;
  }
  .grid-parent h3 {
    left: 20px;
    bottom: 20px;
    font-size: 16px;
  }
  .grid-parent img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .grid-image-parent {
    margin-bottom: 10px;
  }
  .d-grid-triple, .d-grid-triple-rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-base-parent:nth-child(2),
  .grid-base-parent:nth-child(3) {
    min-height: 1090px;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .grid-big-img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .grid-base-parent {
    margin-bottom: 20px;
  }
  .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid-bottom {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1300px) {
  .d-lg-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    max-height: 1100px;
  }
  .d-lg-grid .grid-base-parent {
    width: 100%;
    max-width: 640px;
  }
  .d-lg-grid .grid-base-parent:first-child {
    margin-bottom: 20px;
  }
}

.tabs-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.tabs-parent h2 {
  margin-top: 22px;
}

.tabs-parent h3 {
  margin-bottom: 25px;
}

.tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs-categories {
  max-width: 100%;
}

.tabs-categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: none;
}

.tabs-categories ul li {
  margin: 0;
  padding: 0;
  height: 60px;
  border: 1px solid #E5E5E5;
}

.tabs-categories ul li a {
  color: #000;
  padding: 23px 30px;
  display: block;
}

.tabs-categories ul li:hover, .tabs-categories ul li.active {
  border-bottom: 1px solid #D50000;
}

.tabs-categories ul li:hover a, .tabs-categories ul li.active a {
  color: #D50000;
}

.tabs-questions {
  width: 100%;
  margin-left: 20px;
}

.tabs-questions .question-panel {
  width: 100%;
  height: 60px;
  padding: 0 32px;
  border: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.tabs-questions .question-panel img {
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.tabs-questions .question-panel.active {
  color: #D50000;
  border-top: 1px solid #D50000;
  border-left: 1px solid #D50000;
  border-right: 1px solid #D50000;
}

.tabs-questions .question-panel.active img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.question-content {
  margin-bottom: 10px;
}

.question-content div {
  padding: 25px 35px;
  border-left: 1px solid #D50000;
  border-right: 1px solid #D50000;
  border-bottom: 1px solid #D50000;
  display: none;
}

button, button:focus {
  outline: 0;
}

@media (max-width: 767px) {
  .tabs-parent h3 {
    text-align: center;
  }
  .tabs-parent .tabs {
    display: block;
  }
  .tabs-parent .tabs .tabs-categories {
    margin-bottom: 20px;
  }
  .tabs-parent .tabs .tabs-questions {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .tabs-parent .tabs .tabs-categories {
    width: 310px;
  }
}

.article-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-group h2 {
  margin-top: 22px;
}

.single-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 420px;
  margin-bottom: 48px;
}

.single-article small {
  margin: 17px 0 10px 0;
  opacity: .5;
}

.single-article h3 {
  margin-bottom: 9px;
}

.single-article p {
  padding-right: 40px;
  margin-bottom: 20px;
}

.single-article-parent {
  width: 100%;
  height: auto;
}

@media (max-width: 575px) {
  .article-group .single-article-parent .single-article {
    margin: 0 auto 30px;
  }
}

@media (max-width: 1299px) {
  .single-article-parent .single-article {
    margin: 0 5px 30px 5px;
  }
  .single-article-parent .single-article img {
    width: 100%;
  }
}

.single-page-article {
  margin: 0 0 20px 0;
}

.single-page-article div {
  padding: 27px 51px;
  background: #FAFAFA;
}

.single-page-article small {
  margin: 0 0 11px 0;
  opacity: .5;
}

.single-page-article h3 {
  margin-bottom: 20px;
}

.single-page-article p {
  padding-right: 40px;
  margin-bottom: 35px;
}

@media (max-width: 1023px) {
  .article-pages {
    width: 100%;
  }
  .single-page-article {
    width: 100%;
  }
  .single-page-article img {
    width: 100%;
  }
  .single-page-article div {
    padding: 15px 10px;
  }
}

@media (min-width: 1024px) {
  .single-page-article img {
    width: 100%;
    max-width: 420px;
  }
}

.pagination-parent {
  margin-top: 80px;
  max-width: 755px;
}

.pagination {
  max-width: 755px;
  height: 60px;
  margin: 0 auto;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  margin: 0;
  padding: 0;
}

.pagination li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px;
  color: #000;
}

.pagination li a small {
  width: 100%;
  text-align: center;
}

.pagination li a img {
  margin: 0 19px 0 0;
}

.pagination li a:hover {
  color: #D50000;
}

.pagination li:first-child, .pagination li:last-child {
  width: 200px;
}

.pagination li:first-child a {
  padding-left: 39px;
}

.pagination li:last-child a {
  padding-left: 54px;
}

.pagination li:last-child a img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin: 0 0 0 19px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

.page-item .page-link {
  border-color: #E5E5E5;
}

.page-item .page-link:hover {
  background: #fff;
}

.page-item:hover::after {
  height: 4px;
}

.page-item {
  position: relative;
  width: 60px;
}

.page-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  background-image: url("../img/pagination-hover.svg");
  position: absolute;
  bottom: 0;
}

@media (max-width: 767px) {
  .pagination-parent {
    margin-top: 30px;
  }
  .pagination-parent ul {
    height: 30px;
  }
  .pagination-parent ul li a img {
    margin: 0 8px 0 0;
  }
  .pagination-parent ul li h5, .pagination-parent ul li small {
    font-size: 7px;
  }
  .pagination-parent ul li:last-child a img {
    margin: 0 0 0 8px;
  }
  .pagination-parent ul li:first-child, .pagination-parent ul li:last-child {
    width: auto;
  }
  .pagination-parent ul li:first-child a, .pagination-parent ul li:last-child a {
    padding: 5px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .pagination-parent {
    width: 100%;
  }
  .pagination-parent ul li a img {
    margin: 0 12px 0 0;
  }
  .pagination-parent ul li h5, .pagination-parent ul li small {
    font-size: 12px;
  }
  .pagination-parent ul li:last-child a img {
    margin: 0 0 0 12px;
  }
  .pagination-parent ul li:first-child, .pagination-parent ul li:last-child {
    width: auto;
  }
  .pagination-parent ul li:first-child a, .pagination-parent ul li:last-child a {
    padding: 5px 25px;
  }
}

.footer-parent {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.footer {
  padding: 31px 0 47px 0;
}

.footer div h5 {
  margin: 15px 0 20px 0;
}

.footer div a, .footer div p {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  line-height: 30px;
}

.footer div p {
  margin-top: 15px;
  line-height: 18px;
}

.footer .footer-payment-icons img {
  margin-right: 38px;
}

.footer-bottom {
  padding: 29px 0 26px 0;
}

.footer-bottom div.d-sm-flex {
  width: 450px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom p, .footer-bottom a {
  color: #000;
  font-size: 13px;
  font-weight: 300;
}

.footer-bottom .footer-bottom-socials img {
  margin: 0 15px;
}

.footer-bottom .dev {
  color: #BDBDBD;
}

@media (max-width: 767px) {
  .footer .footer-payment-icons img {
    margin: 0 15px 0 0;
  }
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom .logo-img {
    margin: 10px 0;
  }
  .footer-bottom div.d-sm-flex {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer .footer-child div {
    margin: 0 5px 0 0;
  }
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom .logo-img {
    margin: 10px 0;
  }
}

@media (min-width: 1024px) and (max-width: 1299px) {
  .footer-bottom div:first-child a {
    margin-left: 10px;
  }
  .footer-bottom div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1300px) {
  .footer-bottom div:first-child a {
    margin-left: 50px;
  }
  .footer-bottom div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-bottom div:last-child .footer-bottom-socials {
    margin-right: 50px;
  }
  .footer-bottom div:last-child .footer-bottom-socials a {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */