.article-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-top: 22px;
    }
}

.single-article {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin-bottom: 48px;

    small {
        margin: 17px 0 10px 0;
        opacity: .5;
    }

    h3 {
        margin-bottom: 9px;
    }

    p {
        padding-right: 40px;
        margin-bottom: 20px;
    }
}

.single-article-parent {
    width: 100%;
    height: auto;
}

@media (max-width: 575px) {
    .article-group {
        .single-article-parent {
            .single-article {
                margin: 0 auto 30px;
            }
        }
    }
}

@media (max-width: 1299px) {
    .single-article-parent {
        .single-article {
            margin: 0 5px 30px 5px;

            img {
                width: 100%;
            }
        }
    }
}