figure {
    margin: 0 0 67px 0;
}

.hero-img {
    width: 100%;
}

article {
    p {
        line-height: 26px;
    }
}

.article-with-img {
    img {
        max-width: 640px;
        max-height: 401px;
    }

    h2 {
        margin-top: 41px;
    }

    .article-with-img-texts {
        max-width: 536px;
        margin: 0;
    }
}

@media (max-width: 1023px) {
    figure {
        margin: 0 0 30px 0;
    }

    .article-with-img {
        img {
            width: 100%;
            height: auto;
        }

        h3 {
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1023px) and (max-width: 1299px) {
    .article-with-img-texts {
        padding: 0 15px;
    }
}
