.single-page-article {
    margin: 0 0 20px 0;

    div {
        padding: 27px 51px;
        background: $gray-100;
    }

    small {
        margin: 0 0 11px 0;
        opacity: .5;
    }
    
    h3 {
        margin-bottom: 20px;
    }

    p {
        padding-right: 40px;
        margin-bottom: 35px;
    }
}

@media (max-width: 1023px) {
    .article-pages {
        width: 100%;
    }

    .single-page-article {
        width: 100%;

        img {
            width: 100%;
        }

        div {
            padding: 15px 10px;
        }
    }
}

@media (min-width: 1024px) {
    .single-page-article {
        img {
            width: 100%;
            max-width: 420px;
        }
    }
}