.btn-primary {
    border: none;
    background: $primary;
    padding: 15px 114px;
    color: $white;

    h3 {
        margin: 0;
    }
}

.btn-primary:hover {
    background: $secondary;
}

.btn-secondary {
    background: none;
    border: 2px solid $primary;
    color: $primary;
    padding: 15px 47px;

    h5 {
        margin: 0;
    }
}

.btn-secondary:hover {
    border-color: $secondary;
    color: $secondary;
    background: none;
}

@media (max-width: 1023px) {
    .buttons {
        margin-top: 30px;
    }

    .btn-primary {
        padding: 15px 110px;
    }
}