.download-file {
    display: flex;
    margin-right: 130px;

    img {
        margin-right: 10px;
    }

    p {
        font-size: 21px;
        line-height: 16px;
        padding-top: 18px;
    }
}

@media (max-width: 767px) {
    .download-file {
        margin-right: 0;

        p {
            font-size: 18px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .download-file {
        margin-right: 30px;
    }
}