.footer-parent {
    border-top: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
}

.footer {
    padding: 31px 0 47px 0;

    div {
        h5 {
            margin: 15px 0 20px 0;
        }

        a, p {
            display: block;
            font-size: 14px;
            font-weight: $font-weight-light;
            color: $black;
            line-height: 30px;
        }

        p {
            margin-top: 15px;
            line-height: 18px;
        }
    }

    .footer-payment-icons {
        img {
            margin-right: 38px;
        }
    }
}

.footer-bottom {
    padding: 29px 0 26px 0;

    div.d-sm-flex {
        width: 450px;
        justify-content: space-between;
    }

    p, a {
        color: $black;
        font-size: 13px;
        font-weight: $font-weight-light;
    }

    .footer-bottom-socials {
        img {
            margin: 0 15px;
        }
    }

    .dev {
        color: $gray-500;
    }
}

@media (max-width: 767px) {
    .footer {
        .footer-payment-icons {
            img {
                margin: 0 15px 0 0;
            }
        }
    }

    .footer-bottom {
        text-align: center;

        .logo-img {
            margin: 10px 0;
        }

        div.d-sm-flex {
            width: 100%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        .footer-child {
            div {
                margin: 0 5px 0 0;
            }
        }
    }

    .footer-bottom {
        text-align: center;

        .logo-img {
            margin: 10px 0;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1299px) {
    .footer-bottom {
        div:first-child {
            a {
                margin-left: 10px;
            }
        }

        div {
            align-items: center;
        }
    }
}

@media (min-width: 1300px) {
    .footer-bottom {
        div:first-child {
            a {
                margin-left: 50px;
            }
        }

        div {
            align-items: center;
        }

        div:last-child {
            .footer-bottom-socials {
                margin-right: 50px;

                a {
                    margin: 0;
                }
            }
        }
    }
}