:root {
    font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: $black;
  overflow-x: hidden;
}

.container {
  padding: 0;
}

.headlines {
  max-width: 387px;
}

.buttons {
  max-width: 312px;
}

.texts {
  max-width: 411px;
}

button {
  font-family: "Roboto", sans-serif;
  display: block;
  cursor: pointer;
  transition: 0.1s all;
}

@media (max-width: 1023px) {
  .container {
    width: calc(100vw - 20px);
  }

  .main-tags {
      flex-direction: column;
  }
}

@media (min-width: 1024px) and (max-width: 1299px) {
  .main-tags {
    div {
      margin: 0 10px 0 0;
    }
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
    max-width: 1300px;
  }
}
