.grid-base-parent {
    width: 640px;
    height: 540px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

.grid-big-img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.grid-parent {
  position: relative;

  h3 {
    position: absolute;
    left: 30px;
    bottom: 30px;
    margin: 0;
    padding: 3px 20px;
    background: $white;
    z-index: 5;
    pointer-events: none;
  }

  .grid-on-hover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      opacity: 0;

      svg {
        width: 100%;
        height: 100%;

        g {
          overflow: hidden;

          path {
            width: 100%;
            height: 100%;
          }
        }
      }

      button {
          position: absolute;
          top: calc(50% - 24px);
          left: calc(50% - 74px);
          border-color: white;
          color: white;
      }
  }

  .grid-on-hover:hover {
      opacity: 1;
  }
}

.grid-right-side {
  justify-self: end;
}

.grid-bottom {
  align-self: end;
}

.d-grid-triple,
.d-grid-triple-rev {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}

.d-grid-triple {
  .grid-parent:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.d-grid-triple-rev {
  .grid-parent:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.grid-triple-upper,
.grid-triple-lower,
.grid-triple-upper-rev,
.grid-triple-lower-rev {
  width: 310px;
  height: 260px;
}

.grid-triple-upper {
  justify-self: end;
}

.grid-triple-lower {
  justify-self: end;
  align-self: end;
}

.grid-triple-lower-rev {
  align-self: end;
}

.grid-triple-long,
.grid-triple-long-rev,
.grid-triple-small,
.grid-triple-big {
    width: 310px;
}

.grid-triple-long-rev {
  justify-self: end;
}

.grid-triple-small {
  height: 260px;
}

.grid-triple-big {
  height: 540px;
}

@media (max-width: 767px) {
  .grid-parent {
    width: 100%;

    h3 {
      left: 20px;
      bottom: 20px;
      font-size: 16px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .grid-image-parent {
    margin-bottom: 10px;
  }

  .d-grid-triple, .d-grid-triple-rev {
    display: flex;
    flex-direction: column;
  }

  .grid-base-parent:nth-child(2),
  .grid-base-parent:nth-child(3) {
    min-height: 1090px;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .grid-big-img {
    object-fit: cover;
  }

  .grid-base-parent {
    margin-bottom: 20px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-bottom {
    align-self: center;
  }
}

@media (min-width: 1300px) {
  .d-lg-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    max-height: 1100px;

    .grid-base-parent {
      width: 100%;
      max-width: 640px;
    }

    .grid-base-parent:first-child {
      margin-bottom: 20px;
    }
  }
}