h1 {
    font-weight: $font-weight-bolder;
    font-size: $h1-font-size;
    margin: 0 0 25px 0;
}

h2 {
    font-weight: $font-weight-bolder;
    font-size: $h2-font-size;
    margin: 0 0 35px 0;
}

h3 {
    font-weight: $font-weight-bolder;
    font-size: $h3-font-size;
    margin: 0 0 37px 0;
}

h4 {
    font-weight: $font-weight-light;
    font-size: $h4-font-size;
    margin: 0 0 42px 0;
}

h5 {
    font-weight: $font-weight-bolder;
    font-size: $h5-font-size;
    margin: 0;
    text-transform: uppercase;
}
