a {
    transition: .1s all;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: $secondary;
    text-decoration: none;
}

.link-primary {
    h3 {
        margin: 0;
    }
}

.link-primary, .link-secondary {
    color: $primary !important;
}

.link-primary:hover, .link-secondary:hover {
    color: $secondary !important;
}