.navigation {
    height: 47px;
    border-bottom: 1px solid $gray-300;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container {
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .logo-img {
        height: 30px;
    }

    ul {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style-image: none;
        list-style-type: none;

        li {
            text-transform: uppercase;
            font-weight: $font-weight-bolder;
            font-size: 13px;
            margin: 3px 0;
            padding: 0;

            a {
                text-decoration: none;
                color: $black;
                margin: 0 25px;
            }
        }

        .call-button {
            height: 100%;
            background: $primary;
            display: flex;
            align-items: center;
            transition: .1s all;

            img {
                width: 26px;
                margin-right: 19px;
            }

            a {
                color: $white;
                padding: 0 20px;
                margin: 0;
                display: flex;

                p {
                    margin: 0;
                    align-self: center;
                    font-size: 15px;
                }
            }
        }

        .call-button:hover {
            background: $secondary;
        }
    }
}

@media (max-width: 1299px) {
   .navigation .container {
    position: relative;

    .logo-img {
        position: absolute;
        top: 7px;
    }

    button {
        position: absolute;
        top: 8px;
        right: 10px;
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
    }

       ul {
           display: none;
           position: absolute;
           top: 46px;

           li {
                margin: 0 10px 2px 10px;
           }

           .call-button {
               height: auto;

               a {
                   margin: 0;
               }

               img {
                   transform: scale(.6);
                   margin: 0;
               }
           }
       }

       ul.show-ul {
           display: block;
       }
   }

   .navigation.opened {
       height: 227px;
   }
}

@media (min-width: 1300px) {
    .hamburger-button {
        display: none;
    }
}