.pagination-parent {
    margin-top: 80px;
    max-width: 755px;
}

.pagination {
    max-width: 755px;
    height: 60px;
    margin: 0 auto;
    border-radius: 0px;
    display: flex;
    justify-content: center;

    li {
        margin: 0;
        padding: 0;

        a {
            display: flex;
            height: 100%;
            align-items: center;
            border-radius: 0px;
            color: $black;

            small {
                width: 100%;
                text-align: center;
            }

            img {
                margin: 0 19px 0 0;
            }
        }

        a:hover {
            color: $primary;
        }
    }

    li:first-child, li:last-child {
        width: 200px;
    }

    li:first-child {
        a {
            padding-left: 39px;
        }
    }

    li:last-child {
        a {
            padding-left: 54px;
        }
    }

    li:last-child {
        a {
            img {
                transform: rotateY(180deg);
                margin: 0 0 0 19px;
            }
        }
    }
}

.page-item:first-child .page-link,
.page-item:last-child .page-link  {
    border-radius: 0;
}

.page-item .page-link {
    border-color: $gray-300;
}

.page-item .page-link:hover {
    background: $white;
}

.page-item:hover::after {
    height: 4px;
}

.page-item {
    position: relative;
    width: 60px;
}

.page-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 0px;
    background-image: url("../img/pagination-hover.svg");
    position: absolute;
    bottom: 0;
}

@media (max-width: 767px) {
    .pagination-parent {
        margin-top: 30px;

        ul {
            height: 30px;

            li {
                a {
                    img {
                        margin: 0 8px 0 0;
                    }
                }

                h5, small {
                    font-size: 7px;
                }
            }

            li:last-child {
                a {
                    img {
                        margin: 0 0 0 8px;
                    }
                }
            }

            li:first-child, li:last-child {
                width: auto;

                a {
                    padding: 5px 10px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .pagination-parent {
        width: 100%;

        ul {
            li {
                a {
                    img {
                        margin: 0 12px 0 0;
                    }
                }

                h5, small {
                    font-size: 12px;
                }
            }

            li:last-child {
                a {
                    img {
                        margin: 0 0 0 12px;
                    }
                }
            }

            li:first-child, li:last-child {
                width: auto;

                a {
                    padding: 5px 25px;
                }
            }
        }
    }
}