.tabs-parent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h2 {
        margin-top: 22px;
    }

    h3 {
        margin-bottom: 25px;
    }
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tabs-categories {
    max-width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        border-bottom: none;

        li {
            margin: 0;
            padding: 0;
            height: 60px;
            border: 1px solid $gray-300;

            a {
                color: $black;
                padding: 23px 30px;
                display: block;
            }
        }

        li:hover, li.active {
            border-bottom: 1px solid $primary;

            a {
                color: $primary;
            }
        }
    }
}

.tabs-questions {
    width: 100%;
    margin-left: 20px;

    .question-panel {
        width: 100%;
        height: 60px;
        padding: 0 32px;
        border: 1px solid $gray-300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;

        img {
            transition: all .24s ease;
            transform: rotate(-90deg);
        }
    }

    .question-panel.active {
        color: $primary;
        border-top: 1px solid $primary;
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;

        img {
            transform: rotate(90deg);
        }
    }
}

.question-content {
    margin-bottom: 10px;

    div {
        padding: 25px 35px;
        border-left: 1px solid $primary;
        border-right: 1px solid $primary;
        border-bottom: 1px solid $primary;
        display: none;
    }
}

button, button:focus {
    outline: 0;
}

@media (max-width: 767px) {
    .tabs-parent {
        h3 {
            text-align: center;
        }

        .tabs {
            display: block;

            .tabs-categories {
                margin-bottom: 20px;
            }

            .tabs-questions {
                margin: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .tabs-parent {
        .tabs {
            .tabs-categories {
                width: 310px;
            }
        }
    }
}