table {
    width: 100%;
    border-collapse: collapse;

    tr {
        th {
            text-align: center;
        }

        th:first-child {
            opacity: 0;
            cursor: default;
        }
    }

    tr:nth-child(even) {
        background: $gray-100;
    }

    tr:first-child {
        background: $white;
        border: 1px solid $primary;

        th {
            padding: 16px 0;
            font-size: 21px;
            font-weight: $font-weight-light;
        }
    }

    tr:nth-child(2) {
        td {
            border-top: 1px solid $primary;
        }
    }

    td:first-child {
        padding: 21px 0;
        font-weight: $font-weight-bolder;
    }

    td {
        text-align: center;
        font-size: 13px;
        font-weight: $font-weight-light;
        border: 1px solid $gray-300;

        .link-secondary {
            h5 {
                padding: 10% 0;
            }
        }
    }
}

@media (max-width: 767px) {
    table {
        tr:first-child {
            th {
                font-size: 10px;
            }
        }

        td, h5 {
            font-size: 9px;
        }
    }
}