p, small {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: $font-weight-light;

    strong {
        font-weight: $font-weight-bolder;
    }

    span {
        background: $secondary;
        color: $white;
        padding: 3px 4px;
    }

    u {
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 3px solid $primary;
    }
}

small {
    line-height: 21px;
    font-size: 13px;
}

@media (max-width: 1023px) {
    .texts {
        margin-top: 30px;
    }
}