ul {
    margin: 0;
    padding: 0 0 0 26px;
    font-size: 18px;
    font-weight: $font-weight-light;
    list-style-image: url("../img/li-pointer.svg");

    li {
        margin-bottom: 11px;
        padding-left: 14px;
    }
}

.ul-title {
    margin: 0 0 19px 0;
}