$white:#fff;
$black:#000;
$gray-100: #FAFAFA;
$gray-300: #E5E5E5;
$gray-500: #BDBDBD;

$primary:#D50000;
$secondary:#FF1A1A;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$h1-font-size: 6.4rem;
$h2-font-size: 3.9rem;
$h3-font-size: 2.4rem;
$h4-font-size: 2.1rem;
$h5-font-size: 1.3rem;